{% extends 'back.html.twig' %}

{% block title %}Edit Vehicule{% endblock %}

{% block body %}
    <div class="col-lg-6 layout-spacing">
        <div class="statbox widget box box-shadow">
                            <div class="widget-header">                                
                                <div class="row">
                                    <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                        <h4>Changer les criteres de vehicule</h4>
                                    </div>                                                                        
                                </div>
                            </div>
                            <div class="widget-content widget-content-area">
{{ form_start(form ,{'attr': {'class' : 'needs-validation','novalidate': true,'id' : 'form'}}) }}
                                    <fieldset class="form-group mb-4">
                                        <div class="row">
                                            <label>Choisir type de vehicule</label>
                                            <div class="col-xl-10 col-lg-9 col-sm-10">
                                                <select class="form-control" readonly>
                                                    <option value="{{ form.vars.value.type }}" selected>{{ form.vars.value.type }}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </fieldset>
									<div class="form-group row mb-4">
                                        <label for="modele" class="col-xl-2 col-sm-3 col-sm-2 col-form-label">Modele</label>
                                        <div class="col-xl-10 col-lg-9 col-sm-10">
            								{{ form_widget(form.modele, {'attr': {'class': 'form-control'}}) }}
											{{ form_errors(form.modele) }}
										</div>
                                    </div>
                                     <div class="form-group row mb-4">
										<label for="matricue" class="col-xl-2 col-sm-3 col-form-label">Matricule</label>
                                        <div class="col-xl-10 col-lg-9 col-sm-10">
											{{ form_widget(form.matricule, {'attr': {'class': 'form-control'}}) }}
											{{ form_errors(form.matricule) }}
                                        </div>
                                        <label for="batterie" class="col-xl-2 col-sm-3 col-form-label">batterie/h</label>
										<div class="col-xl-4 col-lg-5 col-sm-9">
            								{{ form_widget(form.batterie, {'attr': {'class': 'form-control'}}) }}
											{{ form_errors(form.batterie) }}
										</div>
                                    </div>
									
                                    <div class="form-group row mb-4">
										<label for="puissance" class="col-xl-2 col-sm-3 col-form-label">Puissance</label>
										<div class="col-xl-4 col-lg-5 col-sm-9">
            								{{ form_widget(form.puissance, {'attr': {'class': 'form-control'}}) }}
											{{ form_errors(form.puissance) }}
										</div>
										
										<label for="prix" class="col-xl-2 col-sm-3 col-form-label">prix/jour</label>
										<div class="col-xl-4 col-lg-5 col-sm-9">
            								{{ form_widget(form.prix, {'attr': {'class': 'form-control'}}) }}
											{{ form_errors(form.prix) }}
										</div>
									</div>
                                    <div class="form-group row mb-4">
                                        <div class="col-xl-10 col-lg-9 col-sm-10">
                                            {{ form_widget(form.image, {'attr': {'class': 'form-control', 'value': asset('images/' ~ vehicule.image) }}) }}
                                            {{ form_errors(form.image) }}
                                        </div>
                                    </div>
									
                                     </div>
                        </div>
                    </div>
                </div>
 {{ form_end(form) }}
    <a href="{{ path('app_vehicule_back') }}">back to list</a>
    {{ include('vehicule/_delete_form.html.twig') }}

{% endblock %}
