{% extends 'back.html.twig' %}

{% block title %}New Vehicle{% endblock %}

{% block body %}
<div class="col-lg-6 layout-spacing">
    <div class="statbox widget box box-shadow">
        <div class="widget-header">
            <div class="row">
                <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                    <h4 class="widget-title">Nouveau vehicule</h4>
                </div>
            </div>
        </div>
        <div class="widget-content widget-content-area">
            {{ form_start(form ,{'attr': {'class' : 'needs-validation','novalidate': true,'id' : 'form'}}) }}
                <div class="form-group">
                    <label for="{{ form.type.vars.id }}">Type de vehicule</label>
                    {{ form_widget(form.type, {'attr': {'class': 'form-control', 'id': form.type.vars.id}}) }}
                    {{ form_errors(form.type) }}
                </div>
                <div class="form-group">
                    <label for="{{ form.modele.vars.id }}">Modele</label>
                    {{ form_widget(form.modele, {'attr': {'class': 'form-control', 'id': form.modele.vars.id}}) }}
                    {{ form_errors(form.modele) }}
                </div>
                <div class="form-group">
                    <label for="{{ form.matricule.vars.id }}">Matricule</label>
                    {{ form_widget(form.matricule, {'attr': {'class': 'form-control', 'id': form.matricule.vars.id}}) }}
                    {{ form_errors(form.matricule) }}
                </div>
                <div class="form-group">
                    <label for="{{ form.puissance.vars.id }}">Puissance</label>
                    <div class="row">
                        <div class="col-sm-6">
                            {{ form_widget(form.puissance, {'attr': {'class': 'form-control', 'id': form.puissance.vars.id}}) }}
                            {{ form_errors(form.puissance) }}
                        </div>
                        <div class="col-sm-6">
                            <div class="input-group">
                                <label for="{{ form.puissance.vars.id }}">Prix</label>

                                {{ form_widget(form.prix, {'attr': {'class': 'form-control', 'id': form.prix.vars.id}}) }}
                                <div class="input-group-append">
                                    <span class="input-group-text">/Heure</span>
                                </div>
                                {{ form_errors(form.prix) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="{{ form.image.vars.id }}">Image</label>
                    {{ form_widget(form.image, {'attr': {'class': 'form-control-file', 'id': form.image.vars.id}}) }}
                    {{ form_errors(form.image) }}
                </div>
                <div class="form-group">
                    {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}
                </div>
            {{ form_end(form) }}
            <a href="{{ path('app_vehicule_back') }}">Back to List</a>
        </div>
    </div>
</div>
{% endblock %}
