{% extends 'base.html.twig' %}

{% block title %}Reclamation index{% endblock %}

{% block body %}
          <div class="r-get-in-touch">
            <div class="container">
              <div class="r-get-header">
                <span>CONTACT US NOW</span>
                <h2>Keep <b>In Touch.</b></h2>
              </div>
              <div class="r-get-form">
                {{ form_start(form ,{'attr': {'class' : 'needs-validation','novalidate': true,'id' : 'form'}}) }}                  <div class="clearfix">
                    <div class="form-group">
                      {{ form_widget(form.objet, {'attr': {'class': 'form-control'}}) }}
                      {{ form_errors(form.objet) }}
                    </div>
                    <div class="form-group">
                        {{ form_widget(form.date, {'attr': {'class': 'form-control'}}) }}
						{{ form_errors(form.date) }}
                    </div>
                  </div>
                  <div class="form-group">
                        {{ form_widget(form.vehicule, {'attr': {'class': 'form-control'}}) }}
						{{ form_errors(form.vehicule) }}</div>
                  <div class="form-group">
                    {{ form_widget(form.contenu, {'attr': {'class': 'form-control'}}) }}
				    {{ form_errors(form.contenu) }}
                  </div>
                  <div class="text-center">
                    {{ form_widget(form.submit, {'attr': {'class': 'btn btn-full'}}) }}
                  </div>
                {{ form_end(form) }}
              </div>
            </div>
          </div>
        
{% endblock %}