{% extends 'back.html.twig' %}

{% block title %}Liste des réservations{% endblock %}

{% block body %}
<div class="container-fluid">

  <div class="page-header">
    <h1>Liste des réservations</h1>
  </div>

  <div class="row">
    <div class="col-md-6">
      <form class="form-inline" method="get" action="{{ path('search') }}">
        <div class="form-group">
          <label class="sr-only" for="input-search">Recherche</label>
          <input type="text" class="form-control" id="input-search" name="mm" placeholder="Entrez le CIN ou la matricule">
        </div>
        <button type="submit" class="btn btn-primary ml-2">Rechercher</button>
      </form>
    </div>
    <div class="col-md-6 text-right">
      <form class="form-inline" method="get" action="{{ path('reservation_filter') }}">
        <div class="form-group">
          <label class="mr-2" for="input-status">Status:</label>
          <select class="form-control" id="input-status" name="status">
            <option value="Tous">Tous</option>
            <option value="En cours">En cours</option>
            <option value="Terminé">Terminé</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary ml-2">Filtrer</button>
      </form>
    </div>
  </div>

  <div class="table-responsive mt-4">
    <table class="table table-striped table-bordered table-hover">
      <thead class="thead-dark">
        <tr>
          <th>Numéro de réservation</th>
          <th>Utilisateur</th>
          <th>Date de début</th>
          <th>Date de fin</th>
          <th>Status</th>
          <th>Tarification</th>
          <th>Matricule</th>
          <th>Point d'arrivée</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for reservation in reservations %}
        <tr>
          <td>{{ reservation.idreservation }}</td>
          <td>{{ reservation.utilisateur.cin }}</td>
          <td>{{ reservation.datedebut|date("Y-m-d H:i:s") }}</td>
          <td>{{ reservation.datefin|date("Y-m-d H:i:s") }}</td>
          <td>{{ reservation.status }}</td>
          <td>{{ reservation.prixreservation }} DT</td>
          <td>{{ reservation.vehicule.matricule }}</td>
          <td>{{ reservation.itineraire.pointarrivee }}</td>
          <td>
            <a class="btn btn-sm btn-primary" href="{{ path('app_reservation_showback', {'idreservation': reservation.idreservation}) }}" role="button">Détails</a>
            <a class="btn btn-sm btn-warning" href="{{ path('app_reservation_edit', {'idreservation': reservation.idreservation}) }}" role="button">Modifier</a>
          </td>
        </tr>
        {% else %}
        <tr>
          <td colspan="9">Aucun enregistrement trouvé.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {# <a class="btn btn-sm btn-primary" href="{{ path('app_reservation_new') }}" role="button">Nouvelle réservation</a> #}
            </div>
             <div class="pagination-section">
                         {{ knp_pagination_render(reservations) }}
                    </div>
        </div>
    </div>
</div>    
{% endblock %}
