{% extends 'base.html.twig' %}

{% block title %}New Reservation{% endblock %}

{% block body %}
    <div class="r-slider-serach form-search dark">
        <form method="post">
            <div class="form-title form-title-large">
                <span class="r-form-icon"><img src="assets/images/footer-form-icon.png" alt=""></span>
                <h2>Search Your <b>Best Cars</b></h2>
                <small>120+ CARS TYPE &amp; BRANDS</small>
            </div>

            {{ form_start(form) }}

            <div class="col-sm-6">
                <div class="form-group has-icon has-label label" id="datetimepicker2" data-target-input="nearest">
                    <label for="formSearchUpDate">Picking Up Date</label>
                    {{ form_widget(form.datedebut) }}
                </div>
            </div>

            <div class="row row-inputs">
                <div class="col-sm-6">
                    <div class="form-group has-icon has-label label" id="datetimepicker2" data-target-input="nearest">
                        <label for="formSearchUpDate">Dropping Off Date</label>
                        {{ form_widget(form.datefin) }}
                    </div>
                </div>

                <div style="display:none;">
                    {{ form_label(form.utilisateur) }}
                   {{ form_widget(form.utilisateur, {'data': utilisateur, 'attr': {'value': utilisateur.cin}}) }}                </div>

                </div>

                <div style="display:none;">
                    {{ form_label(form.itineraire) }}
                    {{ form_widget(form.itineraire) }}
                </div>

                <div style="display:none;">
                
                    {{ form_label(form.vehicule) }}
                    {{ form_widget(form.vehicule, {'data': vehicule, 'attr': {'value': vehicule.modele}}) }}                </div>

                <div style="display:none;">
                    {{ form_label(form.prixreservation) }}
                    {{ form_widget(form.prixreservation) }}
                </div>

                <div class="form-footer">
                    <div class="inner clearfix">
                        <button type="submit" class="btn m-auto d-block btn-full">{{ button_label|default('Continuez') }}</button>
                    </div>
                </div>

                {{ form_end(form) }}
            </div>
        </form>

        {% for reservation in reservation %}
            <tr>
                <td>{{ reservation.idreservation }}</td>
                <td><a href="{{ path('app_reservation_edit', {'idreservation': reservation.idreservation}) }}">edit</a></td>
            </tr>
        {% endfor %}

        <a href="{{ path('app_reservation_index') }}">back to list</a> 
    </div>
{% endblock %}
