{% extends 'base.html.twig' %}

{% block title %}Reservation{% endblock %}

{% block body %}
    <h1>Reservation</h1>

    <table class="table">
        <tbody>
            <tr>
             <thead>
            <tr>
                <th>Numero réservation</th> 
                <th>Utilisateur</th>
                <th>Date Debut</th>
                <th>Date Fin</th>
                <th>status Reservation</th>
                <th>Tarification</th>
                <th>Matricule Voiture</th>
                <th>Point d'arrivée</th>

            </tr>
        </thead>
                      <td>{{ reservation.idreservation }}</td>       
               <td>{{ reservation.utilisateur.prenom }}</td>
               <td>{{ reservation.datedebut|date("Y-m-d H:m:s") }}</td>
               <td>{{ reservation.datefin|date("Y-m-d H:m:s") }}</td>
               <td>{{ reservation.status }}</td>
               <td>{{ reservation.prixreservation }}</td>
               <td>{{ reservation.vehicule.matricule }}</td>
             <td>{{ reservation.itineraire.pointarrivee }}</td>

            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_reservation_index') }}">back to list</a>

    <a href="{{ path('app_reservation_edit', {'idreservation': reservation.idreservation}) }}">edit</a>

    {{ include('reservation/_delete_form.html.twig') }}
{% endblock %}
