{% extends 'back.html.twig' %}
{% block body %}
    <h1>Résultats de la recherche pour "{{ searchValue }}"</h1>

    {% if util %}
       <table class="table table-striped table-hover table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Idbadge</th>
                <th>Typebadge</th>
                <th>Nbpoint</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody> 
            {% for f in util %}
               <tr>
                <td>{{ f.idbadge }}</td>
                <td>{{ f.typebadge }}</td>
                <td>{{ f.nbpoint }}</td>
                <td>
                    <a href="{{ path('app_badge_show', {'idbadge': f.idbadge}) }}">show</a>
                    <a href="{{ path('app_badge_edit', {'idbadge': f.idbadge}) }}">edit</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
    </table>
        <a href="{{ path('app_offre_index') }}">back to list</a>
    {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
    {% endif %}

{% endblock %}

   