<h1>User Data</h1>
<p>CIN: {{ user.getCin() }}</p>
<p>Name: {{ user.getNom() }}</p>
<p>Email: {{ user.getPrenom() }}</p>
<p>Email: {{ user.getEmail() }}</p>
<p>Email: {{ user.getNbpoint() }}</p>
<p>Email: {{ user.getPermis() }}</p>
<p>QR Code:</p>
<img src="{{ qrCode }}" alt="QR Code" width="150" height="150" />
