{% extends 'base.html.twig' %}

{% block title %}Amende index{% endblock %}

{% block body %}
  <div class="row" id="cancel-row">
            <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
                <div class="statbox widget box box-shadow">
                    <div class="widget-header">
                        <div class="row">
                            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                <h4>Mon historique d'amendes </h4>
                            </div>
                        </div>
                    </div>
                    <div class="widget-content widget-content-area">
                        <div class="table-responsive mb-4">
                            <table id="zero-config" class="table table-striped table-hover table-bordered" style="width:100%">
<form action="{{ path('amende_filter') }}" method="get">
        <label for="statusamende">Status:</label>
        <select name="statusamende" id="statusamende">
            <option value="Tous">Tous</option>
            <option value="Paye">Paye</option>
            <option value="Non Paye">Non Paye</option>
        </select>
        <button type="submit">Filtrer</button>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>Numero amende</th>
                <th>Date</th>
                <th>Montant</th>
                <th>Cause</th>
                <th>Description</th>
                <th>Status Amende</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for amende in amendes %}
            <tr>
                <td>{{ amende.idamende }}</td>
                <td>{{ amende.date ? amende.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ amende.montant }}</td>
                <td>{{ amende.cause }}</td>
                <td>{{ amende.description }}</td>
                <td>{{ amende.statusamende }}</td>
                <td>
                    <a href="{{ path('app_amende_show', {'idamende': amende.idamende}) }}">show</a>
                    <a href="{{ path('app_amende_edit', {'idamende': amende.idamende}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_amende_new') }}">Create new</a>
{% endblock %}
