{% extends 'base.html.twig' %}

{% block title %}Amende{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center">Détails de l'amende</h1>
    <hr>

    <div class="row">
        <div class="col-md-6">
            <table class="table table-bordered table-hover">
                <tbody>
                    <tr>
                        <th class="table-dark">Numéro amende :</th>
                        <td>{{ amende.idamende }}</td>
                    </tr>
                    <tr>
                        <th class="table-dark">Date :</th>
                        <td>{{ amende.date ? amende.date|date('d/m/Y') }}</td>
                    </tr>
                    <tr>
                        <th class="table-dark">Montant :</th>
                        <td>{{ amende.montant }} DT</td>
                    </tr>
                    <tr>
                        <th class="table-dark">Cause :</th>
                        <td>{{ amende.cause }}</td>
                    </tr>
                    <tr>
                        <th class="table-dark">Description :</th>
                        <td>{{ amende.description }}</td>
                    </tr>
                </tbody>
            </table>

            <a href="{{ path('app_amende_index') }}" class="btn btn-warning">Retour à la page precedente</a>
            
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">
                    <h4>Informations supplémentaires</h4>
                </div>
                <div class="card-body">
                    <p>Les amendes doivent être payées dans les 30 jours suivant la date d'émission.</p>
                    <p>En cas de retard de paiement, des frais supplémentaires peuvent s'appliquer.</p>
                    <p>Contactez-nous si vous avez des questions ou des préoccupations concernant cette amende.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
