{% extends 'back.html.twig' %}


{% block title %}Offre index{% endblock %}

{% block body %}
    <h1>Gestion des Offres ({{offres.getTotalItemCount}})</h1>
    {% for message in app.flashes('info') %}
    <div class="alert alert-success text-center mb-3">
    {{message}}
    </div>
    {% endfor %}
<div class="table-responsive mb-4">
    <div>
        <form action="{{ path('searchO') }}" method="GET">
                <label for="searchValue">Rechercher :</label>
                <input type="text" name="searchValue" id="searchValue">
                <button type="submit">Rechercher</button>
            </form>
        </div>
    <table class="table table-striped table-hover table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Idoffre</th>
                <th>Nom</th>
                <th>Tauxderemise</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for offre in offres %}
            <tr>
                <td>{{ offre.idoffre }}</td>
                <td>{{ offre.nom }}</td>
                <td>{{ offre.tauxderemise }}</td>
                <td>{{ offre.description }}</td>
                <td>
                    <a href="{{ path('app_offre_show', {'idoffre': offre.idoffre}) }}">show</a>
                    <a href="{{ path('app_offre_edit', {'idoffre': offre.idoffre}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    <div class="pagination-section">
                        <ul class="pagination pagination-style-1 pagination-rounded justify-content-end mt-3 mb-3">
                            <li><a href="javascript:void(0);">{{ knp_pagination_render(offres)}}</a></li>                          
                        </ul>
                    </div>
    <a href="{{ path('app_offre_new') }}">Create new</a>
    
{% endblock %}

