{% extends 'back.html.twig' %}
{% block css %} 
    <!--  BEGIN CUSTOM STYLE FILE  -->
    <link href="{{asset('back/assets/css/ui-kit/buttons/creative/creative-icon-buttons.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{asset('back/assets/css/ui-kit/buttons/creative/creative-gradients.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{asset('back/assets/css/ui-kit/buttons/creative/creative-fill.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{asset('back/assets/css/ui-kit/buttons/creative/creative-material.css')}}" rel="stylesheet" type="text/css" />
    <!-- Spinner Buttons -->
    <link href="{{asset('back/assets/css/ui-kit/buttons/spinner/spinner.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{asset('back/assets/css/ui-kit/buttons/spinner/ladda.min.css')}}" rel="stylesheet" type="text/css" />
    <!--  END CUSTOM STYLE FILE  -->
{% endblock %}
    {% block body %}
      <div class="row">
                                                               
                    <div class="col-xl-12 col-lg-12 col-md-12 col-12 layout-spacing">
                        <div class="statbox widget box">
                            <div class="widget-header ">
                                <div class="row">
                                    <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                        <h4>List des Postion</h4>
                                    </div>                 
                                </div>
                            </div>

                            <div class="widget-content-area ">

                                <div class="table-responsive new-products">
                                   <table class="table">
        <thead>
            <tr>
                <th>idpark</th>
                <th>ville</th>
                <th>nom</th>
                <th>statut</th>
                <th>nbspot</th>

            </tr>
        </thead>
        <tbody>
       {% for park in parks %}
            <tr>
                <td>{{ park.idpark }}</td>
                <td>{{ park.ville |upper}}</td>
                <td>{{ park.nom |upper}}</td>
                <td>{{ park.statut }}</td>
                <td>{{ park.nbspot }}</td>
                <td class="text-center">
                      <div class="toolbar">
                              <div class="toolbar-toggle">...</div>
                                  <ul class="toolbar-dropdown animated fadeInUp table-controls list-inline">
                                                           
                                    <li class="list-inline-item"><a href="{{ path('app_park_edit', {'idpark': park.idpark}) }}" class="bs-tooltip" data-original-title="Edit"><i class="flaticon-edit-5"></i></a>
                                    </li>
                                    <li class="list-inline-item"><a href="{{ path('app_park_showadm', {'idpark': park.idpark}) }}" class="bs-tooltip" data-original-title="view"><i class="flaticon-view-3"></i></a>
                                    </li>
                                     <li class="list-inline-item"><a href="{{ path('app_chart_park', {'idpark': park.idpark}) }}" class="bs-tooltip" data-original-title="view"><i class="flaticon-view-3"></i></a>
                                    </li>
                          </ul>
                       </div>
                                       
               
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>                                              {# table lehne #}
                                </div>
                                <div class="pagination-section">
                                    <ul class="pagination pagination-style-1 pagination-rounded justify-content-end mt-3 mb-3">
                                         <a  href="{{ path('app_park_new') }}"><div  class="btn btn-info btn-1 btn-1b mb-4 mr-3 float-right btn-full" align="center" >Ajouter Parc</div></a>   
                                    </ul>
                                </div>
                                    <div class="pagination-section">
                                    <ul class="pagination pagination-style-1 pagination-rounded justify-content-end ">

                                           {{ knp_pagination_render(parks) }}
                                    </ul>
                                </div>
                          
                            </div>
                        </div>
                    </div>
                    
                </div>
             

        <div class="col-xl-12 col-lg-12 col-md-12 col-12 layout-spacing">
                        <div class="statbox widget box">
                            <div class="widget-header ">
                                <div class="row">
                                    <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                        <h4>Statistique des Parcs</h4>
                                    </div>                 
                                </div>
                            </div>
     {#  {{ render_chart(chart) }}  #}
   
                </div>


    
{% endblock %}
