{% extends 'back.html.twig' %}

{% block title %}Park{% endblock %}
{% block page %} Park details {% endblock %} 
{% block css %} 
    <!--  BEGIN CUSTOM STYLE FILE  -->
    <link href="{{asset('back/assets/css/ui-kit/buttons/creative/creative-icon-buttons.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{asset('back/assets/css/ui-kit/buttons/creative/creative-gradients.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{asset('back/assets/css/ui-kit/buttons/creative/creative-fill.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{asset('back/assets/css/ui-kit/buttons/creative/creative-material.css')}}" rel="stylesheet" type="text/css" />
    <!-- Spinner Buttons -->
    <link href="{{asset('back/assets/css/ui-kit/buttons/spinner/spinner.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{asset('back/assets/css/ui-kit/buttons/spinner/ladda.min.css')}}" rel="stylesheet" type="text/css" />
    <!--  END CUSTOM STYLE FILE  -->
{% endblock %}

{% block body %}


<div class="r-counter-section pt-5 pb-5 m-0">
    <div class=".r-slider-serach.r-slider-serach-down > form .form-title" align="center">
    <h1><b>Park</b> Details</h1>
    <br><br><br>
   
    </div>
            <div class="container">
    
       <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="r-counter-box">
                            <div class="r-counter-icon">
                                <img src="{{asset('assets/images/icon-cars-count.png')}}" alt="" class="img-fluid">
                            </div>
                            <div class="r-counts" data-count="172700">
                              <!-- 1.172.700 -->
                              <span class="r-count">{{ park.nom |upper}}</span>
                            </div>
                            <span class="r-count-title"> Nom </span>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="r-counter-box">
                            <div class="r-counter-icon">
                                <img src="{{asset('assets/images/icon-total-km.png')}}" alt="" class="img-fluid">
                            </div>
                            <div class="r-counts" data-count="2450">
                              <!-- 2.450 -->
                              <span class="r-count">{{ park.ville | upper }}</span>
                            </div>
                            <span class="r-count-title"> ville </span>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="r-counter-box">
                            <div class="r-counter-icon">
                                <img src="{{asset('assets/images/advantage-icon-3.png')}}" alt="" class="img-fluid">
                            </div>
                            <div class="r-counts" data-count="1211100">
                              <!-- 1.211.100 -->
                              <span class="r-count">{{ park.nbspot }} </span>
                            </div>
                            <span class="r-count-title"> Nombre de Spots <b>disponible</b></span>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="r-counter-box">
                            <div class="r-counter-icon">
                                <img src="{{asset('assets/images/advantage-icon-2.png')}}" alt="" class="img-fluid">
                            </div>s
                            <div class="r-counts" data-count="47250">
                              <!-- 47.250 -->
                              <span class="r-count">{{ park.statut }}</span>
                            </div>
                            <span class="r-count-title"> statut </span>
                        </div>
                    <br><br><br><br>
                   
                  <a  href="{{ path('app_park_indexad') }}"><div  class="btn btn-success btn-1 btn-1c mb-4 mr-3 float-right btn-full" align="center" >retour</div></a>   {{ include('park/_delete_form.html.twig') }}
          

                    </div>
                    
                    
                   
    </div>
{% endblock %}
