{% extends 'base.html.twig' %}

{% block title %}Rating{% endblock %}

{% block body %}
    <h1>Rating</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idrating</th>
                <td>{{ rating.idrating }}</td>
            </tr>
            <tr>
                <th>Nbetoile</th>
                <td>{{ rating.nbetoile }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_rating_index') }}">back to list</a>

    <a href="{{ path('app_rating_edit', {'idrating': rating.idrating}) }}">edit</a>

    {{ include('rating/_delete_form.html.twig') }}
{% endblock %}
